PVE_URL=https://pve.example.com:8006
PVE_TOKEN_ID=root@pam!orchestrator
PVE_TOKEN_SECRET=replace-me
PVE_NODE=pve1
PVE_SKIP_TLS_VERIFY=true
PVE_CA_FILE=/Users/you/.config/hydroxide/pve-root-ca.pem
PVE_SSH_HOST=pve1
PVE_SSH_USER=root
PVE_SSH_PORT=22
PVE_SSH_IDENTITY_FILE=/Users/you/.ssh/id_ed25519
PVE_SSH_STRICT_HOST_KEY_CHECKING=false

QUICKSHELL_OSTEMPLATE=local:vztmpl/debian-12-standard_12.7-1_amd64.tar.zst
QUICKSHELL_STORAGE=local-lvm
QUICKSHELL_BRIDGE=vmbr0
QUICKSHELL_PASSWORD=replace-me
QUICKSHELL_VMID=9999
QUICKSHELL_HOSTNAME=quickshell
QUICKSHELL_MEMORY=256
QUICKSHELL_CORES=1
QUICKSHELL_SWAP=256
QUICKSHELL_UNPRIVILEGED=true
