PVE_URL=https://pve.example.com:8006
PVE_TOKEN_ID=root@pam!orchestrator
PVE_TOKEN_SECRET=replace-m
PVE_SKIP_TLS_VERIFY=true
PVE_CA_FILE=/Users/you/.config/hydroxide/pve-root-ca.pem
PVE_SSH_HOST=pve1
PVE_SSH_USER=root
PVE_SSH_PORT=22
PVE_SSH_IDENTITY_FILE=/Users/you/.ssh/id_ed25519
PVE_SSH_STRICT_HOST_KEY_CHECKING=false

QUICKSHELL_PASSWORD=replace-me

